@{
}

@model Intex2.Data.Burialmain

<h1>Add an Entry</h1>
<div calss="grid-container form">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <input asp-for="Id" type="hidden" />


        <label asp-for="Sex">Sex:</label>
        <input asp-for="Sex" /><br />

        <label asp-for="Adultsubadult">Adultsubadult:</label>
        <input asp-for="Adultsubadult" /><br />

        <label asp-for="Facebundles">Facebundles:</label>
        <input asp-for="Facebundles" /><br />

        <label asp-for="Preservation">Preservation:</label>
        <input asp-for="Preservation" /><br />

        <label asp-for="Fieldbookpage">Fieldbookpage:</label>
        <input asp-for="Fieldbookpage" /><br />

        <label asp-for="Goods">Goods:</label>
        <input asp-for="Goods" /><br />

        <label asp-for="Text">Text:</label>
        <input asp-for="Text" /><br />

        <label asp-for="Wrapping">Wrapping:</label>
        <input asp-for="Wrapping" /><br />

        <label asp-for="Headdirection">Head Direction:</label>
        <input asp-for="Headdirection" /><br />

        <label asp-for="Squarenorthsouth">Squarenorthsouth:</label>
        <input asp-for="Squarenorthsouth" /><br />

        <label asp-for="Northsouth">Northsouth:</label>
        <input asp-for="Northsouth" /><br />

        <label asp-for="Depth">Depth:</label>
        <input asp-for="Depth" /><br />

        <label asp-for="Eastwest">Eastwest:</label>
        <input asp-for="Eastwest" /><br />

        <label asp-for="Southtohead">Southtohead:</label>
        <input asp-for="Southtohead" /><br />

        <label asp-for="Squareeastwest">Squareeastwest:</label>
        <input asp-for="Squareeastwest" /><br />



        <!--Put the textiles drop down here-->

        <label asp-for="Haircolor">Haircolor:</label>
        <input asp-for="Haircolor" /><br />
        <label asp-for="Westtohead">Westtohead:</label>
        <input asp-for="Westtohead" /><br />
        <label asp-for="Samplescollected">Samplescollected:</label>
        <input asp-for="Samplescollected" /><br />
        <label asp-for="Area">Area:</label>
        <input asp-for="Area" /><br />
        <label asp-for="Burialid">Burialid:</label>
        <input asp-for="Burialid" /><br />
        <label asp-for="Length">Length:</label>
        <input asp-for="Length" /><br />
        <label asp-for="Burialnumber">Burialnumber:</label>
        <input asp-for="Burialnumber" /><br />
        <label asp-for="Dataexpertinitials">Dataexpertinitials:</label>
        <input asp-for="Dataexpertinitials" /><br />
        <label asp-for="Westtofeet">Westtofeet:</label>
        <input asp-for="Westtofeet" /><br />
        <label asp-for="Ageatdeath">Ageatdeath:</label>
        <input asp-for="Ageatdeath" /><br />
        <label asp-for="Southtofeet">Southtofeet:</label>
        <input asp-for="Southtofeet" /><br />
        <label asp-for="Excavationrecorder">Excavationrecorder:</label>
        <input asp-for="Excavationrecorder" /><br />
        <label asp-for="Photos">Photos:</label>
        <input asp-for="Photos" /><br />
        <label asp-for="Hair">Hair:</label>
        <input asp-for="Hair" /><br />
        <label asp-for="Burialmaterials">Burialmaterials:</label>
        <input asp-for="Burialmaterials" /><br />
        <label asp-for="Dateofexcavation">Dateofexcavation:</label>
        <input asp-for="Dateofexcavation" /><br />
        <label asp-for="Fieldbookexcavationyear">Fieldbookexcavationyear:</label>
        <input asp-for="Fieldbookexcavationyear" /><br />
        <label asp-for="Clusternumber">Clusternumber:</label>
        <input asp-for="Clusternumber" /><br />
        <label asp-for="Shaftnumber">Shaftnumber:</label>
        <input asp-for="Shaftnumber" /><br />

        <button type="submit" class="btn btn-sm btn-info">Submit Entry</button>
    </form>
</div>
