@{
}
@model Textile
    <div class="card card-outline-primary m-2 p-2">
        <div class="bg-light p-1">
            <h4>Title Something</h4>
        </div>
        <div>
            @if (Model == null)
            {
                <p>No Textile to show</p>
            }
            else
            {
        <ul>
            <li>@Model.Locale</li>
            <li></li>
            <li></li>
            <li>
                <form method="get" asp-controller="Home" asp-action="AddTextile">
                    <input type="hidden" name="Id" value="@Model.Id" />

                    <button type="submit" class="btn btn-sm">Add Textile</button>
                </form>
            </li>
        </ul>
            
            }

            <a>Add Textile</a>
        </div>
    </div>