@{
    ViewData["Title"] = "MummyList";
}

@model MummiesViewModel

@foreach (Burialmain m in Model.Mummies)
{
    <partial name="DisplayList" model="m" />
}

<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1 pagecenter"></div>