@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>The Fag el-Gamous is an important cemetery located in Egypt that's provided important into on the ancient Egpytian 
    world. This site has been under significant archeological investigation and many of the projects have been managed by 
    BYU researchers. The cemetary features a high burial density and indicates potential change in burial rituals over the
    years. The site is to be used as a source of learning for the public about the progress and implications of the 
    archeological project. It also serves as a tool for researchers to identify characteristics about the mummies that 
    are continuously being found. </p>
</div>
