@{
    ViewData["Title"] = "Supervised";
}
<!-- ======= Breadcrumbs ======= -->
<br />
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <br />
            <div class="col-xl-10">
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Supervised Models</li>
                </ol>
                <h2>Supervised Models</h2>
            </div>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<div class="container">
    <h1>Supervised Model</h1>
</div>