<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex2</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
</head>
<body>
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a asp-area="" asp-controller="Home" asp-action="Index">FAG EL-GAMOUS</a></h1>

            <nav id="navbar" class="navbar">
                        <ul>
                            <li>
                                <a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="DisplayList">Summary & Records</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Supervised">Supervised</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Unsupervised">Unsupervised</a>
                            </li>
                        </ul>
                    
                
            </nav>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!--Add Cookie Notification-->
    <partial name="_CookieConsentPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
