@{

}

@model Mummy

<div class="card card-outline-primary m-2 p-2">
    <div class="bg-light p-1">
        <h4>Title Something</h4>
        <span class="badge bg-info" style="float:right">
            For if we want a badge
        </span>
    </div>

    <ul>
        <li>List: </li>
        <li>Something: </li>
        <li>Another thing</li>
    </ul>

    
</div>

